header {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 28rem;
	color: #555;

	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
}

.logo-location-container {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 3rem;
}

.header-logo {
	width: 3.25rem;
	transition: transform 0.2s;
}

.header-logo:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.location-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.location-container:hover {
	cursor: pointer
}

.location-container:hover .location {
	color: #ff5200;
	border-color: #ff5200;
}

.location {
	font-weight: 700;
	border-bottom: 3px solid black;
}

.header-arrow {
	width: 1.5rem;
}

nav {
	display: flex;
	gap: 4rem;
	font-weight: 600;
}

nav p {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
}

nav p:hover {
	cursor: pointer;
	color: #ff5200;
}

.navbar-icon {
	width: 1.5rem;
}

.menu-icon {
	width: 2rem;
	display: none;
	cursor: pointer;
}

.navbar-2-container {
	position: relative;
}

.navbar-2 {
	position: absolute;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.1);

	right: 0;
	bottom: 120;
}

footer {
	background-color: #f0f0f5;
	padding: 1.5rem;
	color: #555;
}

footer p {
	cursor: pointer;
}

.footer-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.app-icon {
	width: 12.5rem;
}

.footer-content {
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.footer-col {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-col-head {
	font-size: 1.1rem;
	font-weight: 700;
	color: black;
	cursor: auto;
}

.footer-social {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
}

.footer-social img {
	height: 1rem;
	cursor: pointer;
}

@media(max-width: 1250px) {
	header {
		justify-content: space-between;
		gap: 0;
	}
}

@media(max-width: 800px) {
	.location-container {
		display: none;
	}

	.navbar-main {
		display: none;
	}

	.menu-icon {
		display: block;
	}
}