<header>
	<div class="logo-location-container">
		<img (click)="navigateHomepage()" class="header-logo" src="../assets/swiggy-logo.png">
		<p class="location-container"><span class="location">Vellore</span> <img class="header-arrow" src="../assets/arrow-down.svg"></p>
	</div>

	<nav class="navbar-main">
		<p (click)="navigateSearch()"><img class="navbar-icon" src="../assets/search-icon.svg">Search</p>
		<p (click)="navigateFavorites()"><img class="navbar-icon" src="../assets/favorites-icon.svg">Favorites</p>
		<p *ngIf="userNotLogged" (click)="navigateLogin()"><img class="navbar-icon" src="../assets/user-icon.svg">Sign In </p>
		<p (click)="navigateCart()"><img class="navbar-icon" src="../assets/cart-icon.svg">Cart</p>
	</nav>

	<div *ngIf="menuButtonVisible" class="navbar-2-container">
		<img (click)="toggleNavbar()" class="menu-icon" src="../assets/menu-icon.svg">

		<nav *ngIf="navbarVisible" class="navbar-2">
			<p (click)="navigateSearch()"><img class="navbar-icon" src="../assets/search-icon.svg">Search</p>
			<p (click)="navigateFavorites()"><img class="navbar-icon" src="../assets/favorites-icon.svg">Favorites</p>
			<p *ngIf="userNotLogged" (click)="navigateLogin()"><img class="navbar-icon" src="../assets/user-icon.svg">Sign In</p>
			<p (click)="navigateCart()"><img class="navbar-icon" src="../assets/cart-icon.svg">Cart</p>
		</nav>
	</div>
</header>

<router-outlet />

<footer>
	<div class="footer-title">
		<h2>For better experience, download the Swiggy app now</h2>
		<img class="app-icon" src="../assets/google-icon.avif">
		<img class="app-icon" src="../assets/apple-icon.avif">
	</div>

	<div class="footer-content">
		<div class="footer-col">
			<img src="../assets/footer-icon.svg">
			<p>© 2024 Swiggy Limited</p>
		</div>
		<div class="footer-col">
			<p class="footer-col-head">Company</p>
			<p>About Us</p>
			<p>Swiggy Corporate</p>
			<p>Careers</p>
			<p>Team</p>
			<p>Swiggy One</p>
			<p>Swiggy Instamart</p>
			<p>Swiggy Dineout</p>
			<p>Swiggy Genie</p>
		</div>

		<div class="footer-col">
			<p class="footer-col-head">Contact us</p>
			<p>Help & Support</p>
			<p>Partner with us</p>
			<p>Ride with us</p>
			<p class="footer-col-head">Legal</p>
			<p>Terms & Conditions</p>
			<p>Cookie Policy</p>
			<p>Privacy Policy</p>
			<p>Investor Relations</p>
		</div>
		<div class="footer-col">
			<p class="footer-col-head">Available in</p>
			<p>Bangalore</p>
			<p>Gurgaon</p>
			<p>Hyderabad</p>
			<p>Delhi</p>
			<p>Mumbai</p>
			<p>Pune</p>
		</div>
		<div class="footer-col">
			<p class="footer-col-head">Life at Swiggy</p>
			<p>Explore with Swiggy</p>
			<p>Swiggy News</p>
			<p>Snackables</p>
			<p>Social Links</p>
			<div class="footer-social">
				<img src="../assets/footer-linkedin.avif">
				<img src="../assets/footer-insta.avif">
				<img src="../assets/footer-fb.avif">
				<img src="../assets/footer-pin.avif">
				<img src="../assets/footer-twitter.avif">
			</div>
		</div>
	</div>
</footer>